.card {
  &__image {
    aspect-ratio: 1/1;
    margin-bottom: 24px;
    position: relative;

    img {
      border-radius: 8px;
      object-fit: cover;
    }
  }

  &__title {
    color: var(--card-title-color);
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
  }

  &__subtitle {
    color: var(--card-subtitle-color);
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
  }

  &__description {
    color: rgb(86 44 44 / 80%);
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.18px;
    line-height: 24px;
    margin-top: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__cta {
    margin-bottom: 22px;
    margin-top: 24px;
  }

  &__button {
    align-items: center;
    background: #fff;
    border: 1.5px solid rgb(86 44 44 / 30%);
    border-radius: 333px;
    display: inline-flex;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 44px;
    justify-content: center;
    line-height: 20px;
    min-width: 249px;
    padding: 0 24px;
    text-transform: capitalize;
    transition:
      background-color 0.3s,
      border-color 0.3s,
      color 0.3s;

    &:hover {
      background: var(--primary-color);
      border-color: var(--primary-color);
      color: #fff;
    }
  }
}
