@use 'sass:map';
@use 'core/variables' as var;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-color: #{var.$primary-color};
  --body-text-color: #562c2c;
  --block-title-color: var(--primary-color);
  --block-subtitle-color: var(--body-text-color);
  --card-title-color: var(--primary-color);
  --card-subtitle-color: var(--body-text-color);
  --cta-button-color: var(--primary-color);
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  text-size-adjust: 100%;
}

body {
  color: var(--body-text-color);
  font-size: 1rem;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-size-adjust: 100%;
}

.material-symbols-rounded {
  font-size: 18px;
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

input {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}
