@let block = data();

<app-section-block
  backgroundColor="#fff6f4"
  sectionClass="py-[60px]"
  [backgroundImage]="assetPath + '/bg_block_2.png'"
  [title]="block?.title"
>
  <div class="flex justify-center gap-6">
    @for (case of block?.cases; track $index) {
      <button class="btn__case">{{ case }}</button>
    }
  </div>

  <div class="map">
    <div class="map__frame">
      <img alt="Map" fill loading="lazy" [ngSrc]="assetPath + '/map.png'" />
    </div>
  </div>
</app-section-block>
